/*
* @Author: dhl
* @Date:   2017-10-30 19:09:23
* @Last Modified by:   dhl
* @Last Modified time: 2017-10-30 20:01:19
*/
body,p,h1,h2,h3,h4,h5,h6,ul,dl,ol,li,dt,dd {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "宋体";
	color: #666;
	list-style: none;
}

a {
	 text-decoration: none;
	 color: #666;
}

img,input {
	vertical-align: middle;
	border: 0 none;
	margin: 0;
	padding: 0;
	outline-style: none;
}

